<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>пр2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<div th:insert="Blocks/Header"></div>
<body style="background: black">

<h1 style="color: white" сотрудники/></h1>
<table>
    <tr>
        <td>
            <form  th:action="'/Search/Employee'">
                <button class="btn btn-warning" type="submit">Поиск сотрудника</button>
            </form>
        </td>
        <td>
            <form  th:action="'/Add/Employee'">
                <button class="btn btn-warning" type="submit">Добавить сотрудника</button>
            </form>
        </td>
    </tr>
</table>

<div th:each="el : ${employee}">
    <h3 style="color: white"><b> Фамилия -  </b> <span th:text="${el.getLastname()}" /></h3>
    <p style="color: white"><b>Имя -   </b> <span th:text="${el.getName()}"/></p>
    <p style="color: white"><b> Отчество -  </b> <span th:text="${el.getMiddlename()}"/></p>
    <p style="color: white"><b> Дата рождения - </b> <span th:text="${el.getBirthday()}"/></p>
    <p style="color: white"><b> Стаж работы - </b> <span th:text="${el.getExpetienxs()}"/></p>

    <form  th:action="'/blog/Employee/' + ${el.id} + '/Edit'">
        <button class="btn btn-warning" type="submit">Изменить</button>
    </form>
    <form th:action="'/blog/Employee/' + ${el.id} + '/Remove'" method="post">
        <button class="btn btn-warning" type="submit" >Удалить</button>
    </form>
</div>
</body>
</html>