<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление нового авто в автосалон</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <div th:insert="Blocks/Header"></div>
<body style="background: black">
  <h1 style="color: white">Добавление  авто</h1>
</head>

<form th:action="${'/Nalihie/add/'}" method="post">
  <select  name="car">
    <div th:each="element : ${cars}">
      <option th:value="${element.id}" th:text="${element.marks}"></option>
    </div>
  </select>
  <select  name="avtosalon">
    <div th:each="element : ${avtosalons}">
      <option th:value="${element.id}" th:text="${element.adress}"></option>
    </div>
  </select>
  <br>
  <button style="background: #ffc107; margin-bottom: 15px" type="submit"> Добавить авто</button>
</form>

<div th:each="car : ${car}">
  <h2 th:text="${car.getMarks()}"></h2>
  Универы:<br>
  <div th:each="salon : ${car.getAvtosalon()}">
    <div th:text="${salon.getAdress()}"></div><br>
    <form th:action = "'univ/delNalih/'+ ${car.id} + '/'+ ${salon.id}" method="post">

    </form>

    <!--        <a th:href="'univ/delStud/'+ ${stud.id} + '/'+ ${univ.id}">Удалить</a>-->
  </div>
</div>
<form th:action="${'/newAdress'}" method="get">
  <button type="submit">Добавить адрес</button>
</form>

</body>
</html>